article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#heading {
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: rgb(25, 25, 25);
}

article>p {
    margin-bottom: 10px;
    white-space: pre-line;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: gray;
}