main {
    height: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding: 3%;
}

#home-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (min-height:1024px) {
    main {
        height: 55%;
    }
}