#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 2%;
}

@media screen and (min-height:1024px) {
    #profile {
        height: 55%;
    }
}

#profile-data {
    display: grid;
    grid-template-columns: 30% 100%;
    grid-template-areas: "image mail" "image first-name" "image last-name" "image company-name" "profile-options profile-options";
    align-items: center;
    column-gap: 5%;
    width: 40%;
    height: 80%;
}

#profile-data-image {
    grid-area: image;
    grid-template-columns: 100% !important;
    grid-template-rows: 100% !important;
}

#profile-data-image>img {
    width: 100%;
    height: 100%;
}

#profile-data-mail {
    grid-area: mail;
}

#profile-data-first-name {
    grid-area: first-name;
}

#profile-data-last-name {
    grid-area: last-name;
}

#profile-data-company-name {
    grid-area: company-name;
}

#profile-data-about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
    justify-content: flex-start;
}

#profile-options {
    grid-area: profile-options;
}

#profile-options>button {
    width: 6vw;
    height: 50%;
    background-color: transparent;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

#profile-data>div>span {
    font-weight: 600;
}

#profile-data>div>input {
    text-indent: 10px;
    height: 65%;
    width: 50%;
    text-align: start;
    background-color: transparent;
}

#profile-data-about>textarea {
    text-align: start;
    height: max-content;
    padding: 5px 0 0 10px;
    width: 100%;
    overflow: hidden;
}

#profile-data-about>h3 {
    margin: 2% 0 2% 0;
}

#profile-data>div {
    min-height: 10vh;
    display: grid;
    grid-template-columns: 18% 2% auto;
    align-items: center;
    height: 70%;
}

.blocked-input-field {
    pointer-events: none;
    border: none;
}

.loader {
    top: 40%;
    left: 40%;
    border: 1vw groove transparent;
    border-radius: 50%;
    border-bottom-color: gray;
    width: 10%;
    height: 27%;
    animation: spin 2s linear infinite;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}